@using EuroHelp.Data.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserService CurrUser

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (CurrUser.IsEmployee(User))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="" title="Employee manager">Employee manager</a>
            </li>
        }

        if (CurrUser.IsConsumer(User))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="" title="Consumer manager">Consumer manager</a>
            </li>
        }

        if (User.IsAdmin())
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="AdminManager" title="Admin manager">Admin manager</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
        </li>

        @if (!User.IsAdmin() && !CurrUser.IsEmployee(User) && !CurrUser.IsConsumer(User))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Consumers" asp-action="Register" title="Register like consumer">Become consumer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Employees" asp-action="Create" title="Register like employee">Become employee</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
