@{
    ViewBag.Title = "404";
}

<div class="text-center">
    <h1>Page not found !</h1>
    <p>Oops, better check that URL ....</p>
</div>
<img src="~/images/main_page/Error404.png" alt="Alternate Text" class="notFoundPage" />

