@{
    ViewBag.Title = "Admin Invalid Object";
}

<p class="text-white">.</p>

<img src="~/images/main_page/invalidPage.png" alt="Alternate Text" class="badPage1" />

<div class="text-center">
    <h1 class="AccessDenied">
        Invalid Object !!!
    </h1>
    <h4 class="AccessDenied">This object does not contains in the current data !</h4>
</div>


<div class="text-center">
    <a asp-action="Index" asp-controller="Manage" class="btn btn-outline-primary">Back to Home !</a>
</div>
