html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.logoName {
    margin-left: auto;
    margin-right: auto;
}

.shield {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.notFoundPage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.AccessDenied {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.badPage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}