html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.logoName {
    margin-left: auto;
    margin-right: auto;
}

.shield {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.notFoundPage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.AccessDenied {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.badPage1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.logo {
    position: relative;
    float: left;
    width: 55px;
    height: 55px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: #0070FC;
    text-shadow: 1px 1px 1px;
}