@model AddCompanyFormModel

@{
    ViewData["Title"] = "Company Members";
}

<h2 style="margin: 2%; text-align: center;">🛡️ Register new insurance company</h2>
<hr class="bg-primary w-100">

<form class="row g-3" method="post">
    <div class="col-1">
        <label asp-for="Id" class="form-label"><b>ID:</b></label>
        <input asp-for="Id" class="form-control" placeholder="ID...">
        <span asp-validation-for="Id" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="Name" class="form-label"><b>Company name:</b></label>
        <input asp-for="Name" class="form-control" placeholder="Protect Auto...">
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="Bulstat" class="form-label"><b>Bulstat:</b></label>
        <input asp-for="Bulstat" class="form-control" placeholder="65985...">
        <span asp-validation-for="Bulstat" class="small text-danger"></span>
    </div>
    <div class="col-4">
        <label asp-for="FAX" class="form-label"><b>FAX:</b></label>
        <input asp-for="FAX" class="form-control" placeholder="123456...">
        <span asp-validation-for="FAX" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"><b>Address:</b></label>
        <textarea asp-for="Address" class="form-control" rows="3" placeholder="1644 Froe Street, Charleston...."></textarea>
        <span asp-validation-for="Address" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="PhoneNumber" class="form-label"><b>Phone number:</b></label>
        <input asp-for="PhoneNumber" class="form-control" placeholder="022255...">
        <span asp-validation-for="PhoneNumber" class="small text-danger"></span>

    </div>
    <div class="col-3">
        <label asp-for="MobilePhoneNumber" class="form-label"><b>Mobile number:</b></label>
        <input asp-for="MobilePhoneNumber" class="form-control" placeholder="0883585...">
        <span asp-validation-for="MobilePhoneNumber" class="small text-danger"></span>

    </div>
    <div class="col-3">
        <label asp-for="Email" class="form-label"><b>Email:</b></label>
        <input asp-for="Email" class="form-control" placeholder="Email...">
        <span asp-validation-for="Email" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Notes"><b>Notes:</b></label>
        <textarea asp-for="Notes" class="form-control" rows="3" placeholder="The company was created in 2011...."></textarea>
        <span asp-validation-for="Notes" class="small text-danger"></span>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Register" />
        <button class="btn btn-secondary" type="reset">Cancel</button>
    </div>
</form>