@model RegisterConsumerFormModel

@{
    ViewData["Title"] = "Regiester Consumer";
}

<h1 class="text-center mt-2">🤝 Регистрация клиент</h1>
<hr class="bg-primary w-100">

<form class="mx-auto w-50" method="post">
    <div class="form-group">
        <div class="d-flex justify-content-start">
            <label asp-for="Username" class="h4 mb-2 text-dark">Име на профил</label>
        </div>
        <input asp-for="Username" class="form-control" placeholder="Име на профил...">
    </div>
    <div class="form-group">
        <div class="d-flex justify-content-start">
            <label asp-for="FirstName" class="h4 mb-2 text-dark">Име</label>
        </div>
        <input asp-for="FirstName" class="form-control" placeholder="Име...">
    </div>
    <div class="form-group">
        <div class="d-flex justify-content-start">
            <label asp-for="LastName" class="h4 mb-2 text-dark">Фамилия</label>
        </div>
        <input asp-for="LastName" class="form-control" placeholder="Фамилия...">
    </div>
    <div class="col-12">
        <label asp-for="Gender" class="form-label h4 mb-2 text-dark">Пол</label>
        <select asp-for="Gender" class="form-select">
            <option>Мъж</option>
            <option>Жена</option>
        </select>
    </div>
    <div class="form-group">
        <div class="text-dark  d-flex justify-content-start">
            <label asp-for="Email" class="h4 mb-2">Имейл</label>
        </div>
        <input asp-for="Email" class="form-control" placeholder="Имейл...">
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-block btn-primary text-white mb-3" value="Register">Регистрация</button>
    </div>
</form>