<h2 style="margin: 2%; text-align: center;">Consumer manager</h2>
<hr class="bg-primary w-100">

<form method="post" class="row g-3">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Damage type</th>
                <th scope="col">Consumer</th>
                <th scope="col">Insurance Company</th>
                <th scope="col">Confirm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col">1311</td>
                <td scope="col">Broken Arm</td>
                <td scope="col">Otto</td>
                <td scope="col">mdo</td>
                <td scope="col"><b>NO</b></td>
                <td>
                    <a class="btn btn-success float-right ml-3"> APPROVE</a>
                    <a class="btn btn-warning float-right ml-3"> EDIT</a>
                    <a class="btn btn-info float-right ml-3"> INFO</a>
                    <a class="btn btn-danger float-right ml-3"> DELETE</a>
                </td>
            </tr>
            <tr>
                <td scope="col">4124</td>
                <td scope="col">Broken Windows</td>
                <td scope="col">Otto</td>
                <td scope="col">mdo</td>
                <td scope="col"><b>NO</b></td>
                <td>
                    <a class="btn btn-success float-right ml-3"> APPROVE</a>
                    <a class="btn btn-warning float-right ml-3"> EDIT</a>
                    <a class="btn btn-info float-right ml-3"> INFO</a>
                    <a class="btn btn-danger float-right ml-3"> DELETE</a>
                </td>
            </tr>
            <tr>
                <td scope="col">4212</td>
                <td scope="col">Broken Arm</td>
                <td scope="col">Otto</td>
                <td scope="col">mdo</td>
                <td scope="col"><b>YES</b></td>
                <td>
                    <a class="btn btn-success float-right ml-3 disabled"> APPROVE</a>
                    <a class="btn btn-warning float-right ml-3"> EDIT</a>
                    <a class="btn btn-info float-right ml-3"> INFO</a>
                    <a class="btn btn-danger float-right ml-3"> DELETE</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>