@{
    ViewData["Title"] = "Reference Generator";
}

<h1 style="margin: 2%; text-align: center;">Справки за претенции по щети гражданска отговорност</h1>

<form class="row g-3">
    <h5>Справка за плащания по претенции по щети ГО в определен период</h5>
    <div class="col-3">
        <label for="fromDate" class="form-label">От Дата</label>
        <input type="text" class="form-control" id="fromDate" placeholder="...">
    </div>
    <div class="col-3">
        <label for="toDate" class="form-label">До Дата</label>
        <input type="text" class="form-control" id="toDate" placeholder="...">
    </div>
    <div>
        <button type="button" class="btn btn-info">Генерирай справка</button>
    </div>

    <h5>Справка за регистрирани претенции по претенции по щети ГО в определен период</h5>
    <div class="col-3">
        <label for="fromDate" class="form-label">От Дата</label>
        <input type="text" class="form-control" id="fromDate" placeholder="...">
    </div>
    <div class="col-3">
        <label for="toDate" class="form-label">До Дата</label>
        <input type="text" class="form-control" id="toDate" placeholder="...">
    </div>
    <div>
        <button type="button" class="btn btn-info">Генерирай справка</button>
    </div>

    <div></div>
    <div></div>

    <h5>Справка за претенции по щети ГО със статус "Потвърдена" и дата на потвърждение в определен период</h5>
    <div class="col-3">
        <label for="fromDate" class="form-label">От Дата</label>
        <input type="text" class="form-control" id="fromDate" placeholder="...">
    </div>
    <div class="col-3">
        <label for="toDate" class="form-label">До Дата</label>
        <input type="text" class="form-control" id="toDate" placeholder="...">
    </div>
    <div>
        <button type="button" class="btn btn-info">Генерирай справка</button>
    </div>

    <div></div>
    <div></div>

    <div>
        <button type="button" class="btn btn-danger">Изход</button>
    </div>

</form>