@model ExportFile

@{
    ViewData["Title"] = "Reference Generator";
}

<h1 style="margin: 2%; text-align: center;">Справки за претенции по щети гражданска отговорност</h1>

<form class="row g-3" method="post">
    <h5>ТЕСТ справка по име на компания</h5>
    <div class="col-3">
        <label asp-for="StartDate" class="form-label">От Дата</label>
        <input asp-for="StartDate" type="text" class="form-control" placeholder="">
    </div>
    <div class="col-3">
        <label asp-for="EndDate" class="form-label">До Дата</label>
        <input asp-for="EndDate" class="form-control" placeholder="">
    </div>
    <div>
        <input asp-controller="References" asp-action="GenerateByCompanyName" class="btn btn-primary" type="submit" value="Генерирай справка" />
    </div>
</form>
<form class="row g-3" method="post">
    <h5>Генерираш справка по № на претенция</h5>
    <div class="col-3">
        <label asp-for="StartDate" class="form-label">От Дата</label>
        <input asp-for="StartDate" class="form-control" placeholder="">
    </div>
    <div class="col-3">
        <label asp-for="EndDate" class="form-label">До Дата</label>
        <input asp-for="EndDate" class="form-control" placeholder="">
    </div>
    <div>
        <input asp-controller="References" asp-action="GenerateByPretentionNumber" class="btn btn-primary" type="submit" value="Генерирай справка" />
    </div>
</form>

<form class="row g-3" method="post">
    <h5>Генерирай справка по потвърждение на щетата</h5>
    <div class="col-3">
        <label asp-for="StartDate" class="form-label">От Дата</label>
        <input asp-for="StartDate" class="form-control" placeholder="">
    </div>
    <div class="col-3">
        <label asp-for="EndDate" class="form-label">До Дата</label>
        <input asp-for="EndDate" class="form-control" placeholder="">
    </div>
    <div>
        <input asp-controller="References" asp-action="GenerateByConfirmation" class="btn btn-primary" type="submit" value="Генерирай справка" />
    </div>
    <div>
        <button type="button" class="btn btn-danger">Изход</button>
    </div>
</form>