@{
    ViewBag.Title = "Access Denied";
}

<div class="text-center">
    <h1 class="AccessDenied">
        Acces Denied to this Page !!!
    </h1>
    <h4 class="AccessDenied">You don't have the permission to use this page !</h4>
</div>

<img src="~/images/main_page/badPage1.png" alt="Alternate Text" class="badPage1" />

<div class="text-center">
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary">Back to Home !</a>
</div>
