@{
    ViewBag.Title = "Access Denied";
}

<div class="text-center">
    <h1 class="AccessDenied">
        Acces Denied to this Page !!!
    </h1>
    <h4 class="AccessDenied">You don't have the permission to use this page !</h4>
</div>

<img src="~/images/main_page/badPage.png" alt="Alternate Text" class="badPage" />

