@{
    ViewBag.Title = "Banned Consumer";
}

<p class="text-white">.</p>

<img src="~/images/main_page/bannedPage.png" alt="Alternate Text" class="badPage1" />

<div class="text-center">
    <h1 class="AccessDenied">
        You are Banned !!!
    </h1>
    <h4 class="AccessDenied">You don't have the permission to use this page !</h4>
</div>


<div class="text-center">
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary">Back to Home !</a>
</div>
