@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-10 offset-1">Hi ! Welcome to EuroHelp App !</h1>
</div>

<div class="card-img-top">
    <img src="~/images/main_page/Insurance_Shield.png" class="rounded float-left" alt="...">
</div>