@{
    ViewData["Title"] = "Home Page";
}

<h1 class="col-auto">EuroHelp</h1>
<img src="~/images/main_page/ehShield.svg" class="center-block">

<div class="col-md-12 row">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

