@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="logoName">EuroHelp</h1>
</div>
<div class="card-img-top">
    <img src="~/images/main_page/Insurance_Shield.png" class="shield" alt="...">
</div>

<div class="text-center">
    <h4>Welcome to our insurance search engine !!</h4>
</div>