@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 offset-1">Hi ! Welcome to EuroHelp App !</h1>
</div>

<img src="~/images/main_page/ehShield.svg" class="rounded float-left" alt="...">