@{
    ViewBag.Title = "Restricted Employee";
}

<p class="text-white">.</p>

<img src="~/images/main_page/restrictedPage.png" alt="Alternate Text" class="badPage1" />

<div class="text-center">
    <h1 class="AccessDenied">
        You are Restricted !!!
    </h1>
    <h4 class="AccessDenied">Please ask the administrator to change your status !</h4>
</div>

<div class="text-center">
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary">Back to Home !</a>
</div>
