@{
    ViewData["Title"] = "Damage Search";
}

<h1 style="margin: 2%; text-align: center;">Търсене и справка за щети</h1>
<hr class="bg-primary w-100">

<div></div>

<form class="row g-3">
    <div class="col-3">
        <label for="compnayId" class="form-label">Номер на щета</label>
        <input type="text" class="form-control" id="compnayId" placeholder="">
    </div>
    <div class="col-3">
        <label for="companyName" class="form-label">Реф. номер на НББАЗ</label>
        <input type="text" class="form-control" id="compnayId" placeholder="">
    </div>
    <div class="col-3">
        <label for="companyCode" class="form-label">Реф. номер на заст. компания</label>
        <input type="text" class="form-control" id="companyCode" placeholder="">
    </div>
    <div class="col-3">
        <label for="refNumberDekra" class="form-label">Реф. номер на DEKRA</label>
        <input type="text" class="form-control" id="refNumberDekra" placeholder="">
    </div>

    <div></div>

    <div class="col-3">
        <label for="compnayId" class="form-label">Дата на събитие ОТ</label>
        <input type="text" class="form-control" id="compnayId" placeholder="">
    </div>
    <div class="col-3">
        <label for="compnayId" class="form-label">ДО</label>
        <input type="text" class="form-control" id="compnayId" placeholder="">
    </div>

    <div class="col-3">
        <label for="compnayId" class="form-label">Дата на регистрация ОТ</label>
        <input type="text" class="form-control" id="compnayId" placeholder="">
    </div>
    <div class="col-3">
        <label for="compnayId" class="form-label">ДО</label>
        <input type="text" class="form-control" id="compnayId" placeholder="">
    </div>

    <div></div>

    <div class="col-3">
        <label for="compnayId" class="form-label">Тип щета</label>
        <input type="text" class="form-control" id="compnayId" placeholder="">
    </div>
    <div class="col-9">
        <label for="compnayId" class="form-label">Заст. компания</label>
        <input type="text" class="form-control" id="compnayId" placeholder="">
    </div>

    <div></div>

    <div class="col-3">
        <label for="compnayId" class="form-label">Статус</label>
        <input type="text" class="form-control" id="compnayId" placeholder="">
    </div>
    <div class="col-9">
        <label for="compnayId" class="form-label">Вид събитие</label>
        <input type="text" class="form-control" id="compnayId" placeholder="">
    </div>

    <div></div>

    <div class="col-3">
        <label for="compnayId" class="form-label">Държава на събитие</label>
        <input type="text" class="form-control" id="compnayId" placeholder="">
    </div>
    <div class="col-5">
        <label for="compnayId" class="form-label">Регист. номер</label>
        <input type="text" class="form-control" id="compnayId" placeholder="">
    </div>

    <div></div>

</form>

<div>
    <button type="button" class="btn btn-primary">Търсене</button>
    <button type="button" class="btn btn-secondary">Преглед</button>
    <button type="button" class="btn btn-danger">Нулиране</button>
    <button type="button" class="btn btn-secondary">Изход</button>
</div>

<form class="row g-3">
    <div></div>

    <div class="container mt-3">
        <h2>Резултат:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Номер на щета</th>
                    <th>Дата на регистрация</th>
                    <th>Дата на събитие</th>
                    <th>Реф. номер на НББАЗ</th>
                    <th>Реф. номер на 3К</th>
                    <th>Реф. номер на DEKRA</th>
                    <th>Тип щета</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div></div>

</form>