@{
    ViewData["Title"] = "Damage Payments";
}

<!-- Demage Payments is part form Edit Demage Page !!! (Претенции....) !!-->

<form class="row g-3">
    <div class="col-2">
        <label for="opionNumber" class="form-label">Плащане номер: </label>
        <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
    </div>
    <div class="col-2">
        <h4>Нова плащане</h4>
    </div>
    <div class="col-2">
        <label for="optionDate" class="form-label">Тип на плащане: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="...">
    </div>
    <div class="col-2">
        <label for="optionDate" class="form-label">Дата на плащане: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="...">
    </div>
    <div class="col-2">
        <label for="opionNumber" class="form-label">Претенция номер: </label>
        <input type="text" class="form-control" id="opionNumber" placeholder="...">
    </div>
    <div class="col-2">
        <label for="optionDate" class="form-label">Дата на претенция: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="...">
    </div>

    <div>
        <!-- Разделител !!-->
    </div>

    <div class="col-3">
        <label for="opionNumber" class="form-label">Материално обезщетение: </label>
        <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
    </div>
    <div class="col-2">
        <label for="opionNumber" class="form-label">Валута: </label>
        <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
    </div>

    <div>
        <!-- Разделител !!-->
    </div>

    <div class="col-3">
        <label for="optionDate" class="form-label">Нематериално обезщетение: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="дата...">
    </div>
    <div class="col-2">
        <label for="optionDate" class="form-label">Валута: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="дата...">
    </div>

    <div>
        <!-- Разделител !!-->
    </div>

    <div class="col-3">
        <label for="optionDate" class="form-label">Посредническа такса: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="дата...">
    </div>
    <div class="col-2">
        <label for="optionDate" class="form-label">Валута: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="дата...">
    </div>

    <div>
        <!-- Разделител !!-->
    </div>



    <div class="col-3">
        <label for="optionDate" class="form-label">ОБЩА СУМА ЗА ПЛАЩАНЕ: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="дата...">
    </div>
    <div class="col-2">
        <label for="optionDate" class="form-label">Валута: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="дата...">
        <button type="button" class="btn btn-success">Изчисление</button>
    </div>

    <div>
        <!-- Разделител !!-->
    </div>

    <div class="col-3">
        <label for="optionDate" class="form-label">ИЗПЛАТЕНА СУМА: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="...">
    </div>
    <div class="col-2">
        <label for="optionDate" class="form-label">Валута: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="...">
    </div>


    <div>
        <!-- Разделител !!-->
    </div>

    <div class="col-4">
        <label for="optionDate" class="form-label">Платено на: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="...">
    </div>
    <div class="col-4">
        <label for="optionDate" class="form-label">ЕГН/БУЛСТАТ на: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="...">
    </div>
    <div class="col-4">
        <label for="optionDate" class="form-label">Роля: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="...">
    </div>

    <div>
        <!-- Разделител !!-->
    </div>

    <div class="col-4">
        <label for="optionDate" class="form-label">Номер на платежен документ: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="...">
    </div>
    <div class="col-2">
        <label for="optionDate" class="form-label">Счетоводна дата: </label>
        <input type="text" class="form-control" id="optionDate" placeholder="...">
    </div>

    <div>
        <!-- Разделител !!-->
    </div>

    <div class="col-3">
        <button type="button" class="btn btn-primary" name="register">Запиши</button>
        <button type="button" class="btn btn-secondary" name="cancel">Изтрий</button>
    </div>
</form>