<!-- Page Head-->
@{
    ViewData["Title"] = "Damage Modification";
}

<h1 style="margin: 2%; text-align: center;">Модифициране на щета</h1>
<hr class="bg-primary w-100">

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#home">Основни данни</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu1">Претенции</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu2">Плащания</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container active" id="home">
        <form class="row g-3">
            <div class="col-12">
                <label for="inputDamage" class="form-label">Тип щета</label>
                <input type="text" class="form-control" id="inputDamage" placeholder="Тип щета...">
            </div>
            <div class="col-12">
                <label for="inputInsuranceCompanyName" class="form-label">Застрахователна компания</label>
                <input type="text" class="form-control" id="inputInsuranceCompanyName" placeholder="Име на компания...">
            </div>
            <div class="col-12">
                <label for="eventType" class="form-label">Вид събитие</label>
                <select id="eventType" class="form-select">
                    <option>Събитие в чужбина - Каско регрес на Евроинс</option>
                    <option>Събитие в България - Каско регрес на Евроинс</option>
                    <option>Събитие в България - Каско регрес на Български застраховател</option>
                    <option>Събитие в чужбина - Каско регрес на Български застраховател</option>
                    <option>ПТП в България - Каско регрес на чужд застраховател</option>
                    <option>ПТП в чужбина – Каско регрес на чужд застраховател</option>
                </select>
            </div>
            <div class="col-3">
                <label for="eventDate" class="form-label">Дата на събитие</label>
                <input type="text" class="form-control" id="eventDate" placeholder="въведи дата...">
            </div>
            <div>
            </div>
            <div class="col-3">
                <label for="registerDate" class="form-label">Дата на регистрация</label>
                <input type="text" class="form-control" id="registerDate" placeholder="въведи дата...">
            </div>
            <div>
            </div>
            <div class="col-3">
                <label for="bulgarianRegNumber" class="form-label">Български регистрационен номер</label>
                <input type="text" class="form-control" id="bulgarianRegNumber" placeholder="номер....">
            </div>
            <div class="col-3">
                <label for="foreignRegNumber" class="form-label">Чужд регистрационен номер</label>
                <input type="text" class="form-control" id="foreignRegNumber" placeholder="номер....">
            </div>
            <div class="col-3">
                <label for="property" class="form-label">Имущество</label>
                <input type="text" class="form-control" id="property" placeholder="имущество...">
            </div>
            <div class="col-3">
                <label for="injuredPerson" class="form-label">Пострадал</label>
                <select id="injuredPerson" class="form-select">
                    <option>Водач</option>
                    <option>Пътник</option>
                    <option>Мотоциклетист</option>
                    <option>Велосипедист</option>
                    <option>Пешеходец</option>
                </select>
            </div>

            <div>
                <!-- --------------------------------------------------------- !!-->
            </div>
            <!-- Second part of the ViewPage !!-->

            <div class="col-2">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            За отказ
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Фалшива полица
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Регрес
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Съдебна щета
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label for="foreignRegNumber" class="form-label">Номер на съдебно дело</label>
                <input type="text" class="form-control" id="foreignRegNumber" placeholder="номер....">
            </div>
            <div class="form-group">
                <label for="comment">Забележки</label>
                <textarea class="form-control" id="comment" rows="3"></textarea>
            </div>

            <div class="col-3">
                <label for="officeDekra" class="form-label">Офис на DEKRA</label>
                <select id="officeDekra" class="form-select">
                    <option>....</option>
                </select>
            </div>

            <div>
                <div class="col-2">
                    <label for="materialPrice" class="form-label">Прог. сума за матер.</label>
                    <input type="text" class="form-control" id="materialPrice" placeholder="">
                </div>
                <div class="col-2">
                    <label for="nonMaterialPrice" class="form-label">Прог. сума за немат.</label>
                    <input type="text" class="form-control" id="nonMaterialPrice" placeholder="">
                </div>
                <div class="col-2">
                    <label for="paidSum" class="form-label">Изплатена сума</label>
                    <input type="text" class="form-control" id="paidSum" placeholder="">
                </div>
                <div class="col-2">
                    <label for="claimSum" class="form-label">Претенции сума</label>
                    <input type="text" class="form-control" id="claimSum" placeholder="">
                </div>
                <div class="col-2">
                    <label for="recoveredSum" class="form-label">Възстановена сума</label>
                    <input type="text" class="form-control" id="recoveredSum" placeholder="">
                </div>
            </div>

            <div>
                <!-- --------------------------------------------------------- !!-->
            </div>

            <div>
                <div class="col-2">
                    <label for="paidSum" class="form-label">Реф. номер на НББАЗ</label>
                    <input type="text" class="form-control" id="paidSum" placeholder="">
                </div>
                <div class="col-2">
                    <label for="claimSum" class="form-label">Реф. номер на заст. компания</label>
                    <input type="text" class="form-control" id="claimSum" placeholder="">
                </div>
                <div class="col-2">
                    <label for="recoveredSum" class="form-label">Реф. номер на DEKRA</label>
                    <input type="text" class="form-control" id="recoveredSum" placeholder="">
                </div>
            </div>

            <div>
                <!-- --------------------------------------------------------- !!-->
            </div>

            <div class="col-3">
                <button type="button" class="btn btn-primary" name="register">Запис</button>
                <button type="button" class="btn btn-secondary" name="cancel">Отказ</button>
            </div>
        </form>
    </div>
    <div class="tab-pane container fade" id="menu1">
        <form class="row g-3">
            <div class="col-2">
                <label for="opionNumber" class="form-label">Претенция номер: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
            </div>
            <div class="col-2">
                <h4>Нова претенция</h4>
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Дата на претенция: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="opionNumber" class="form-label">Материално обезщетение: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
            </div>
            <div class="col-2">
                <label for="opionNumber" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">Нематериално обезщетение: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">Посредническа такса: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>



            <div class="col-3">
                <label for="optionDate" class="form-label">ОБЩА СУМА НА ПРЕТЕНЦИЯТА: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
                <button type="button" class="btn btn-success">Изчисление</button>
            </div>

            <div>
                <!-- Разделител !!-->
            </div>


            <div class="col-4">
                <label for="optionDate" class="form-label">Предявена към: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">ВЪЗСТАНОВЕНА СУМА: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-4">
                <label for="optionDate" class="form-label">Допълнителна информация за плащането: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Счетоводна дата: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <button type="button" class="btn btn-primary" name="register">Запиши</button>
                <button type="button" class="btn btn-secondary" name="cancel">Изтрий</button>
            </div>
        </form>
    </div>
    <div class="tab-pane container fade" id="menu2">
        <form class="row g-3">
            <div class="col-2">
                <label for="opionNumber" class="form-label">Плащане номер: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
            </div>
            <div class="col-2">
                <h4>Ново плащане</h4>
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Тип на плащане: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Дата на плащане: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-2">
                <label for="opionNumber" class="form-label">Претенция номер: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Дата на претенция: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="opionNumber" class="form-label">Материално обезщетение: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
            </div>
            <div class="col-2">
                <label for="opionNumber" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">Нематериално обезщетение: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">Посредническа такса: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">ОБЩА СУМА ЗА ПЛАЩАНЕ: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
                <button type="button" class="btn btn-success">Изчисление</button>
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">ИЗПЛАТЕНА СУМА: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>


            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-4">
                <label for="optionDate" class="form-label">Платено на: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-4">
                <label for="optionDate" class="form-label">ЕГН/БУЛСТАТ на: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-4">
                <label for="optionDate" class="form-label">Роля: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-4">
                <label for="optionDate" class="form-label">Номер на платежен документ: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Счетоводна дата: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <button type="button" class="btn btn-primary" name="register">Запиши</button>
                <button type="button" class="btn btn-secondary" name="cancel">Изтрий</button>
            </div>
        </form>
    </div>
</div>