@model RegisterDamageFormModel

@{
    ViewData["Title"] = "Register Demage";
}

<h2 style="margin: 2%; text-align: center;">🤕 Register new damage</h2>
<hr class="bg-primary w-100">

<form class="row g-4" method="post">
    <div class="col-1">
        <label asp-for="Id" class="form-label"><b>ID:</b></label>
        <input asp-for="Id" class="form-control" placeholder="ID...">
        <span asp-validation-for="Id" class="small text-danger"></span>
    </div>
    <div class="col-4">
        <label asp-for="DamageType" class="form-label"><b>Damage type:</b></label>
        <span asp-validation-for="DamageType" class="small text-danger"></span>
        <select asp-for="DamageType" class="form-select">
            <option>Car damage</option>
            <option>Home damage </option>
            <option>Pet damage</option>
            <option>Travel damage</option>
            <option>Medical damage</option>
            <option>Business damage</option>
        </select>
    </div>
    <div class="col-4">
        <label asp-for="CompanyId" class="form-label"><b>Insurance company:</b></label>
        <select asp-for="CompanyId" class="form-select">
            @foreach (var company in Model.Companies)
            {
                <option value="@company.Id">@company.Name</option>
            }
        </select>
    </div>
    <div class="col-3">
        <label asp-for="EventDate" class="form-label"><b>Event date:</b></label>
        <input asp-for="EventDate" type="date" class="form-control" value="01.01.2010">
        <span asp-validation-for="EventDate" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="IdentityNumber" class="form-label"><b>National identification number:</b></label>
        <input asp-for="IdentityNumber" class="form-control" placeholder="National Identification Number....">
        <span asp-validation-for="IdentityNumber" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="PersonFirstName" class="form-label"><b>Person first name:</b></label>
        <input asp-for="PersonFirstName" class="form-control" placeholder="First Name...">
        <span asp-validation-for="PersonFirstName" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="PersonSecondName" class="form-label"><b>Person second name:</b></label>
        <input asp-for="PersonSecondName" class="form-control" placeholder="Second Name...">
        <span asp-validation-for="PersonSecondName" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="EventPlace" class="form-label"><b>Event place:</b></label>
        <input asp-for="EventPlace" class="form-control" placeholder="Bulgaria, Sofia...">
        <span asp-validation-for="EventPlace" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comment" class="form-label"><b>Comment:</b></label>
        <textarea asp-for="Comment" class="form-control" rows="3" placeholder="Write comment or more info...."></textarea>
        <span asp-validation-for="Comment" class="small text-danger"></span>
    </div>
    <div class="row-g text-center">
        <input class="btn btn-primary" type="submit" value="Register" />
        <button class="btn btn-secondary" type="reset">Cancel</button>
    </div>
</form>