@model RegisterDamageFormModel

@{
    ViewData["Title"] = "Register Demage";
}

<h1 style="margin: 2%; text-align: center;">🤕 Register new damage</h1>
<hr class="bg-primary w-100">

<form class="row g-3" method="post">
    <div class="col-1">
        <label asp-for="Id" class="form-label"><b>ID:</b></label>
        <input asp-for="Id" class="form-control" placeholder="ID...">
        <span asp-validation-for="Id" class="small text-danger"></span>
    </div>
    <div class="col-4">
        <label asp-for="DamageType" class="form-label"><b>Damage Type:</b></label>
        <span asp-validation-for="DamageType" class="small text-danger"></span>
        <select asp-for="DamageType" class="form-select">
            <option>Car Damage</option>
            <option>Home Damage </option>
            <option>Pet Damage</option>
            <option>Travel Damage</option>
            <option>Medical Damage</option>
            <option>Business Damage</option>
        </select>
    </div>
    <div class="col-4">
        <label asp-for="CompanyId" class="form-label"><b>Insurance company:</b></label>
        <select asp-for="CompanyId" class="form-select">
            @foreach (var company in Model.Companies)
            {
                <option value="@company.Id">@company.Name</option>
            }
        </select>
        <span asp-validation-for="CompanyId" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="EventDate" class="form-label"><b>Event Date:</b></label>
        <input asp-for="EventDate" type="date" class="form-control" placeholder="">
        <span asp-validation-for="EventDate" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="BulgarianRegNumber" class="form-label"><b>National Identification Number:</b></label>
        <input asp-for="BulgarianRegNumber" class="form-control" placeholder="National Identification Number....">
        <span asp-validation-for="BulgarianRegNumber" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="PersonFirstName" class="form-label"><b>Person First Name:</b></label>
        <input asp-for="PersonFirstName" class="form-control" placeholder="First Name...">
        <span asp-validation-for="PersonFirstName" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="PersonSecondName" class="form-label"><b>Person Second Name:</b></label>
        <input asp-for="PersonSecondName" class="form-control" placeholder="Second Name...">
        <span asp-validation-for="PersonSecondName" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="EventPlace" class="form-label"><b>EventPlace:</b></label>
        <input asp-for="EventPlace" class="form-control" placeholder="Bulgaria, Sofia...">
        <span asp-validation-for="EventPlace" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <input class="btn btn-primary" type="submit" value="Register" />
        <button class="btn btn-secondary" type="reset">Cancel</button>
    </div>
</form>