@model RegisterDamageFormModel

@{
    ViewData["Title"] = "Register Demage";
}

<h1 style="margin: 2%; text-align: center;">🤕 Регистрация на нова щета</h1>
<hr class="bg-primary w-100">

<form class="row g-3" method="post">
    <div class="col-1">
        <label asp-for="Id" class="form-label">ID</label>
        <input asp-for="Id" class="form-control" placeholder="ID...">
        <span asp-validation-for="Id" class="small text-danger"></span>
    </div>
    <div class="col-4">
        <label asp-for="Name" class="form-label">Тип щета</label>
        <input asp-for="Name" class="form-control" placeholder="Тип щета...">
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>
    <div class="col-7">
        <label asp-for="CompanyId" class="form-label">Застрахователна компания</label>
        <select asp-for="CompanyId" class="form-select">
            @foreach (var company in Model.Companies)
            {
                <option value="@company.Id">@company.Name</option>
            }
        </select>
        <span asp-validation-for="CompanyId" class="small text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="EventType" class="form-label">Вид събитие</label>
        <select asp-for="EventType" class="form-select">
            <option>Събитие в чужбина - Каско регрес на Евроинс</option>
            <option>Събитие в България - Каско регрес на Евроинс</option>
            <option>Събитие в България - Каско регрес на Български застраховател</option>
            <option>Събитие в чужбина - Каско регрес на Български застраховател</option>
            <option>ПТП в България - Каско регрес на чужд застраховател</option>
            <option>ПТП в чужбина – Каско регрес на чужд застраховател</option>
        </select>
        <span asp-validation-for="EventType" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="EventDate" class="form-label">Дата на събитие</label>
        <input asp-for="EventDate" type="date" class="form-control" placeholder="">
        <span asp-validation-for="EventDate" class="small text-danger"></span>
    </div>
    <div>
    </div>
    <div class="col-3">
        <label asp-for="BulgarianRegNumber" class="form-label">Български регистрационен номер</label>
        <input asp-for="BulgarianRegNumber" class="form-control" placeholder="Български рег. номер....">
        <span asp-validation-for="BulgarianRegNumber" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="ForeignRegNumber" class="form-label">Чужд регистрационен номер</label>
        <input asp-for="ForeignRegNumber" class="form-control" placeholder="Чужд рег. номер....">
        <span asp-validation-for="ForeignRegNumber" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="Property" class="form-label">Имущество</label>
        <input asp-for="Property" class="form-control" placeholder="Вид имущество...">
        <span asp-validation-for="Property" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="InjuredPerson" class="form-label">Пострадал</label>
        <select asp-for="InjuredPerson" class="form-select">
            <option>Водач</option>
            <option>Пътник</option>
            <option>Мотоциклетист</option>
            <option>Велосипедист</option>
            <option>Пешеходец</option>
        </select>
        <span asp-validation-for="InjuredPerson" class="small text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="NotifiedBy" class="form-label">Уведомяване от</label>
        <input asp-for="NotifiedBy" class="form-control" placeholder="Уведомяване от име...">
        <span asp-validation-for="NotifiedBy" class="small text-danger"></span>
    </div>
    <div>
    </div>
    <div class="col-3">
        <input class="btn btn-primary" type="submit" value="Регистрация" />
        <button class="btn btn-secondary" type="reset">Отказ</button>
    </div>
</form>